#container {
  max-width: 90vh;
}

#menu {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#rainbow {
  height: 30px;
  width: 80px;
  background: linear-gradient(to right,
      red 10%,
      orange 10% 20%,
      yellow 20% 30%,
      green 30% 40%,
      blue 40% 50%,
      indigo 50% 60%,
      violet 60% 70%,
      brown 70% 80%,
      black 80% 90%,
      white 90%);
  margin-left: 50px;
}

#color-picker {
  flex-grow: 1;
  height: 40px;
  margin-left: 10px;
}

.color {
  aspect-ratio: 1 / 1;
  height: 50px;
}

.square,
#rainbow {
  outline: 1px solid black;
}

#grid-container {
  display: grid;
  gap: 1px;
  aspect-ratio: 1 / 1;
  width: 98vw;
  max-width: 90vh;
  touch-action: none;
}