#grid-container {
  display: grid;
  gap: 1px;
  aspect-ratio: 1 / 1;
  width: 92vw;
  max-width: 92vh;
  max-height: 92vh;
  margin: 2vh;
}

.square {
  outline: 1px solid black;
}

.sketched {
  background-color: black;
}